<!-- about section -->
<section class="about" id="about">
  <div class="container">
    <div class="top-about">
      <div class="left">
        <div class="image"></div>
      </div>
    </div>
    <div class="bottom-about">
      <div class="right">
        <div class="content">
          <h3 class="H3">
            To Order Your
            <span>Vegetable</span> Basket, Simply Follow These
            <span>Easy Steps</span>
          </h3>
          <p class="body-1">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
        </div>
        <div class="block">
          <div class="box">
            <div><p class="Accent-text">1</p></div>
            <p class="body-1">
              Just choose <span class="body-2"> the vegetable</span> you want to
              order by clicking on the checkboxes
              <span class="body-2"> next to it.</span>
            </p>
          </div>
          <div class="box">
            <div><p class="Accent-text">2</p></div>
            <p class="body-1">
              Click on <span class="body-2">the basket</span> and fill out the
              form.
            </p>
          </div>
          <div class="box">
            <div><p class="Accent-text">3</p></div>
            <p class="body-1">
              Sit back and relax! Your
              <span class="body-2">fresh vegetables</span> basket will be
              delivered.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
