<!-- advertisement section -->
<section class="advertisement">
  <div class="container">
    <div class="advertisement-wrapper">
      <div class="mobile-view">
        <h2 class="H2">
          <span class="advertisement-box-model">DISCOUNT UP TO 40%!</span> TASTE
          THE VITAMINS AND KEEP YOUR HEALTH
        </h2>
      </div>
      <!-- desktop da görünüm -->
      <div class="desktop-view">
        <h2 class="H1">
          <span class="advertisement-box-model">DISCOUNT UP TO 40%!</span> TASTE
          THE VITAMINS AND KEEP YOUR HEALTH
        </h2>
      </div>
    </div>
  </div>
</section>
