<!-- contact section -->
<section class="contact" id="contact">
  <div class="container">
    <div class="hero-content">
      <h2 class="H2 contact-heading">
        FRESH <span class="H2 highlight">HARVEST</span> BOX HAS GOT YOU COVERED
      </h2>
      <div class="text-box">
        <p class="body-1 subheading">
          Our boxes are packed with delicious, nutritious vegetables, perfect
          for anyone looking to eat healthier or support local farmers. Order
          your box today and start enjoying the best that nature has to offer!
        </p>
      </div>
    </div>

    <div id="order" class="form-container">
      <!-- Form bölümü start -->
      <div class="contact-form">
        <div class="H3 form-header">
          <h3 class="H3 form-title">
            Ordering <span class="H3 highlight-red">from us</span> is quick and
            easy! Fill out
            <span class="H3 highlight-green">the form</span> below and we will
            contact you!
          </h3>
        </div>

        <form class="form-fields">
          <div class="input-group">
            <input
              type="text"
              placeholder="Full Name"
              name="name"
              required
              pattern="[A-Za-z\s]{2,}"
              minlength="3"
              title="Name should contain only letters and be at least 3 characters long"
            />
          </div>
          <div class="input-group">
            <input
              type="email"
              placeholder="Email"
              name="email"
              required
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              title="Please enter a valid email address"
            />
          </div>
          <div class="input-group">
            <textarea
              placeholder="Comment"
              name="comment"
              required
              minlength="10"
              title="Comment should be at least 10 characters long"
            ></textarea>
          </div>
          <button type="submit" class="Accent-text submit-btn">SEND</button>
        </form>
      </div>
      <!-- form bölümü end -->
      <div class="image-container">
        <img
          src="../img/contact-desktop.jpg"
          srcset="../img/contact-desktop@2x.jpg 2x"
          alt="Contact image"
          class="contact-image"
        />
        <div class="social-follow">
          <p class="body-2 social-text">Follow us on our social networks:</p>
          <p class="Accent-text social-links">
            <a
              href="https://www.instagram.com/goit.turkiye/"
              target="_blank"
              rel="noopener"
              >INSTAGRAM</a
            >
            <span class="divider">/</span>
            <a
              href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
              target="_blank"
              rel="noopener"
              >FACEBOOK</a
            >
            <span class="divider">/</span>
            <a
              href="https://m.youtube.com/@GoITTurkey"
              target="_blank"
              rel="noopener"
              >YOUTUBE</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
