<!-- footer section -->
<footer class="footer">
  <div class="container">
    <div class="top-footer">
      <div class="footer-content">
        <!-- SVG İkonu -->
        <img src="./img/logo-desktop.svg" alt="logo" class="footer-icon" />
        <!-- Metin -->
        <p class="body-1 footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="right-footer">
        <!-- Sosyal medya ikonları -->
        <div class="footer-links">
          <ul class="H3 footer-links-list">
            <li>
              <a href="#about" class="footer-link-item">HOW IT WORKS</a>
            </li>
            <li>
              <a href="#vegetables" class="footer-link-item">VEGETABLES</a>
            </li>
            <li><a href="#reviews" class="footer-link-item">REVIEWS</a></li>
          </ul>
        </div>
        <!-- İletişim kutusu -->
        <div class="body-2 footer-contact">
          <p class="footer-contact-text">
            <a href="tel:+380684439426" class="footer-contact-link"
              >+380 (68) 443-94-26</a
            >
          </p>
          <p class="footer-contact-text">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </div>
      </div>
    </div>
    <!-- Alt bilgi -->
    <div class="body-1 footer-bottom">
      <div class="body-1 footer-policy">
        <a href="#" class="policy-link">Privacy Policy</a>
        <span class="separator">/</span>
        <a href="#" class="policy-link">Cookie settings</a>
      </div>
      <p class="body-1 copyright">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
