<!-- header section -->
<header class="header">
  <div class="container">
    <div class="desktop-header">
      <a href="#">
        <img
          class="header-logo-desktop"
          src="./img/logo-desktop.svg"
          alt="logo"
        />
      </a>
      <div class="mobile-header">
        <a href="#">
          <img class="header-logo" src="./img/logo-mobile.svg" alt="logo" />
        </a>
        <button
          id="menu-open"
          type="button"
          class="menu-button"
          title="menu-button"
        >
          <svg class="menu-icon">
            <use href="./img/icons.svg#icon-menu-mobile"></use>
          </svg>
        </button>
      </div>
      <div class="nav-container">
        <div id="menu" class="menu">
          <div class="nav-wrapper">
            <div class="nav-button-wrapper">
              <nav>
                <ul class="nav-list">
                  <li>
                    <a
                      id="about-close"
                      href="#about"
                      class="body-1 nav-link-box-model-how"
                      >How It Works</a
                    >
                  </li>
                  <li>
                    <a
                      id="vegetables-close"
                      href="#vegetables"
                      class="body-1 nav-link-box-model-vege"
                      >Vegetables</a
                    >
                  </li>
                  <li>
                    <a
                      id="reviews-close"
                      href="#reviews"
                      class="body-1 nav-link-box-model-review"
                      >Reviews</a
                    >
                  </li>
                </ul>
              </nav>
              <button
                id="shop-now-close"
                class="header-btn header-button"
                type="button"
                onclick="location.href='#contact'"
              >
                SHOP NOW
              </button>
            </div>
            <button type="button" id="menu-close" title="menu-close">
              <svg class="menu-icon-close">
                <use href="./img/icons.svg#icon-close-mobile"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
