<!-- reviews section -->
<section id="reviews" class="reviews">
  <div class="container">
    <div class="content">
      <h2 class="reviews-title H2">
        <span class="line line-1">REVIEWS</span>
        <span class="line line-2">FROM </span>
        <span class="line line-3">OUR</span>
        <span class="line line-4 highlight">CUSTOMERS</span>
      </h2>
      <p class="reviews-description">
        Words of our customers: Impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>

    <div class="owl-carousel owl-theme">
      <div class="item">
        <img
          src="./img/customer-1.jpg"
          srcset="./img/customer-1@2x.jpg 2x"
          alt="John Wax"
          class="review-img"
        />
        <h3 class="review-name Accent-text">JOHN WAX</h3>
        <p class="review-text body-1">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </div>

      <div class="item">
        <img
          src="./img/customer-2.jpg"
          srcset="./img/customer-2@2x.jpg 2x"
          alt="Victoria Romashenko"
          class="review-img"
        />
        <h3 class="review-name Accent-text">VICTORIA ROMASHENKO</h3>
        <p class="review-text body-1">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </div>

      <div class="item">
        <img
          src="./img/customer-3.jpg"
          srcset="./img/customer-3@2x.jpg 2x"
          alt="Ihor Trachuk"
          class="review-img"
        />
        <h3 class="review-name Accent-text">IHOR TRACHUK</h3>
        <p class="review-text body-1">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </div>
    </div>
  </div>
</section>
