<!-- vagatables section -->
<section id="vegetables" class="vegetables">
  <div class="container">
    <div class="vegetables-header">
      <h2 class="H2">ORGANIC <span>VEGETABLES</span></h2>
      <p class="vegetables-description body-1">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>

    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="list-item-container">
          <h3 class="H3">EGGPLANT</h3>
          <p class="vegetables-price body-1">60 USD / kg</p>
          <div class="eggplant-image"></div>
        </div>
      </li>

      <li class="vegetables-list-item">
        <div class="list-item-container">
          <h3 class="H3">LEEK</h3>
          <p class="vegetables-price body-1">50 USD / kg</p>
          <div class="leek-image"></div>
        </div>
      </li>

      <li class="vegetables-list-item">
        <div class="list-item-container">
          <h3 class="H3">MUSHROOM</h3>
          <p class="vegetables-price body-1">40 USD / kg</p>
          <div class="mushroom-image"></div>
        </div>
      </li>

      <li class="vegetables-list-item">
        <div class="list-item-container">
          <h3 class="H3">CORN</h3>
          <p class="vegetables-price body-1">60 USD / kg</p>
          <div class="corn-image"></div>
        </div>
      </li>

      <li class="vegetables-list-item">
        <div class="list-item-container">
          <h3 class="H3">SWEET POTATOES</h3>
          <p class="vegetables-price body-1">50 USD / kg</p>
          <div class="potatoe-image"></div>
        </div>
      </li>

      <li class="vegetables-list-item">
        <div class="list-item-container">
          <h3 class="H3">CARROT</h3>
          <p class="vegetables-price body-1">40 USD / kg</p>
          <div class="carrot-image"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
