.advertisement-wrapper {
  padding: 80px 20px;
  background-color: var(--white);
}

.advertisement-box-model {
  background-color: var(--green);
  color: var(--white);
  display: block;
  border-radius: 12px;
}

.advertisement-wrapper .mobile-view {
  display: block;
}

.advertisement-wrapper .desktop-view {
  display: none;
}

@media (min-width: 768px) {
  .advertisement-wrapper {
    padding: 100px 32px;
  }
}

@media (min-width: 1280px) {
  .advertisement-wrapper {
    padding: 100px 116px 100px 100px;
  }
  .advertisement-box-model {
    display: inline;
  }

  .advertisement-wrapper .mobile-view {
    display: none;
  }

  .advertisement-wrapper .desktop-view {
    display: block;
  }
}
