:root {
  /* font weight definitions */
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* color definations */
  --menu-bgcolor: #7a5745;
  --black: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
  --transparent: rgba(20, 20, 20, 0.2);

  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */

  /* font-family */
  font-family: 'Inter Tight', sans-serif;
  /* font-optical-sizing: auto; */
  font-size: 14px;
  line-height: 1.42858;
  letter-spacing: 0;
  font-weight: var(--medium);
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* kaydırma çubuğu ayarları */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  background-color: var(--green);
}

::-webkit-scrollbar-track {
  background-color: var(--green);
}

::-webkit-scrollbar-thumb {
  background-color: var(--chianti);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blush);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 375px) {
  :root {
    font-size: 16px;
    line-height: 1.25;
  }
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  line-height: 1.42858;
  letter-spacing: 0.015px;
  font-weight: var(--medium);
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--blush);
}

main {
  flex-grow: 1;
}

/* title mobile properties */
.H1 {
  font-size: 52px;
  font-weight: var(--semibold);
  line-height: 1;
  letter-spacing: -0.015em;
}

.H2 {
  font-size: 48px;
  font-weight: var(--semibold);
  line-height: 1.08333;
  letter-spacing: -0.015em;
}

.H3 {
  font-size: 28px;
  font-weight: var(--semibold);
  line-height: 1;
  letter-spacing: -0.015em;
}

.body-1 {
  font-size: 14px;
  font-weight: var(--medium);
  line-height: 1.42857;
  letter-spacing: 0;
}

.body-2 {
  font-size: 14px;
  font-weight: var(--bold);
  line-height: 1.42857;
  letter-spacing: 0;
}

.Accent-text {
  font-size: 18px;
  font-weight: var(--semibold);
  line-height: 1.11111;
  letter-spacing: -0.015em;
}

/* button properties*/
.header-btn {
  display: block;
  width: 175px;
  max-height: 52px;
  background-color: var(--chianti);
  color: var(--white);
  border-radius: 30px;
  padding: 16px 41px;
  align-items: center;
  justify-content: center;
}

.btn {
  display: block;
  width: 295px;
  max-height: 52px;
  background-color: var(--chianti);
  color: var(--white);
  border-radius: 30px;
  padding: 16px 129px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  /* title properties */
  .H1 {
    font-size: 76px;
    font-weight: var(--semibold);
    line-height: 1;
    letter-spacing: -0.015em;
  }

  .H2 {
    font-size: 64px;
    font-weight: var(--semibold);
    line-height: 1;
    letter-spacing: -0.015em;
  }

  .H3 {
    font-size: 32px;
    font-weight: var(--semibold);
    line-height: 1;
    letter-spacing: -0.015em;
  }

  .body-1 {
    font-size: 16px;
    font-weight: var(--medium);
    line-height: 1.25;
    letter-spacing: 0;
  }

  .body-2 {
    font-size: 16px;
    font-weight: var(--bold);
    line-height: 1.25;
    letter-spacing: 0;
  }

  .Accent-text {
    font-size: 18px;
    font-weight: var(--semibold);
    line-height: 1.11111;
    letter-spacing: -0.015em;
  }

  /* button properties*/
  .header-btn {
    width: 157px;
    padding: 16px 32px;
  }

  .btn {
    width: 440px;
    padding: 16px 191px;
  }
}

@media only screen and (min-width: 1280px) {
  /* button properties*/
  .btn {
    width: 428px;
  }
}

@media screen and (min-width: 375px) {
  body {
    overflow-x: hidden;
  }
}
