.header {
  position: fixed;
  width: 100%;

  z-index: 2001;
}

.mobile-header a {
  display: inline-block;
}

.header-logo {
  width: 168px;
}

.header.slidedown,
.mobile-header.slidedown {
  width: 100%;
  background-color: var(--menu-bgcolor);
  animation: slidedown 0.4s forwards;
  padding: 10px 0px;
}

@keyframes slidedown {
  from {
    top: -250px;
  }
  to {
    top: 0;
    box-shadow: -1px 6px 8px 0 var(--transparent);
  }
}

.menu {
  display: none;
}

.mobile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;

  margin: 20px 15px 0 25px;
  gap: 135px;
  width: 335px;
  margin-bottom: 0;
  transition: margin 0.3s ease;
}

.slidedown .mobile-header {
  margin-top: 0;
}

.menu-icon {
  width: 32px;
  height: 32px;
}

.menu-button {
  background: none;
  border: none;
  outline: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.nav-button-wrapper {
  margin-top: 308px;
  display: flex;
  flex-direction: column;
  gap: 244px;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  background-color: var(--green);
  position: fixed;
  inset: 0;
  z-index: 2000;
}

.nav-link-box-model-how,
.nav-link-box-model-vege,
.nav-link-box-model-review {
  border: 1px solid var(--white);
  border-radius: 12px;

  color: var(--white);
}

.nav-link-box-model-how {
  padding: 12px 17px;
}

.header-logo-desktop {
  display: none;
}

.nav-link-box-model-vege {
  padding: 12px 23px;
}

.nav-link-box-model-review {
  padding: 12px 32px;
}

.nav-link-box-model-how:hover,
.nav-link-box-model-vege:hover,
.nav-link-box-model-review:hover {
  background-color: var(--white);
  color: var(--chianti);
}

.header-button:hover {
  background-color: var(--white);
  color: var(--chianti);
}

.nav-container {
  position: relative;
}

.menu-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.is-open-menu {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

@media (min-width: 768px) {
  .header-logo {
    width: 216px;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
  }

  .is-open-menu {
    background-color: rgba(20, 20, 20, 0.4);
  }

  .nav-wrapper {
    width: 351px;
    inset: 0 0 0 auto;
  }

  .mobile-header {
    margin-bottom: 0px;

    margin: 32px;
    gap: 448px;
    width: 704px;
    margin-bottom: 0;
  }

  .nav-link-box-model-how {
    padding: 12px 14px;
  }

  .nav-link-box-model-vege {
    padding: 12px 21px;
  }

  .menu-icon-close {
    top: 32px;
    right: 32px;
    width: 40px;
  }
}

@media (min-width: 1280px) {
  .menu-button,
  .menu-icon-close {
    display: none;
  }

  .header-logo-desktop {
    display: flex;
  }

  .menu {
    display: flex;
  }

  .mobile-header {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    gap: 8px;
    width: 321px;
  }

  .nav-button-wrapper {
    margin: 0px;
    width: 498px;
    flex-direction: row;
    gap: 20px;
  }

  .nav-wrapper {
    background-color: unset;
    position: unset;
    inset: unset;
    z-index: unset;
    width: unset;
    height: 52px;
  }

  .nav-link-box-model-vege,
  .nav-link-box-model-review,
  .nav-link-box-model-how {
    padding: 11px 11px;
  }

  .desktop-header {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    align-items: center;
    width: 1280px;
    gap: 366px;
    margin-top: 32px;
    transition: margin 0.3s ease;
  }

  .slidedown .desktop-header {
    margin-top: 0;
  }
}
